.main {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 100px;
}

.employeeOfTheMonth {
  text-align: center;
}

.employeeOfTheMonth img {
  border-radius: 5%;
}
